.App {
  /*font-family: sans-serif;*/
  text-align: center;
}

.heading {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
}
.result-div {
  margin-top: 10px;
  color: #8a8383;
  font-size: 25px;
}
.btn {
  font-size: 30px;
  margin: 10px;
  /*padding: 20px 25px;*/
  height: 100px;
  width: 100px;
  border-radius: 10px;
  border: 2px solid black;
}
